<html>
  <head>
    <title>Suggestion Box</title>
    <link href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/
css/bootstrap.min.css" rel="stylesheet">
    <script type="text/javascript" src="js/vendor/angular2.min.js"></script>
  </head>
  <body ng-app="SuggestionBox">
    <div ng-controller="HomeController">
      <h1>{{ helloWorld }}</h1>
      <div ng-repeat="post in posts | orderBy:'-upvotes'">
        {{ post.title }}
        <p>
          <span class="glyphicon glyphicon-plus-sign"
          ng-click="addUpvote(post)">
            Upvotes: {{ post.upvotes | number }}
          </span>
        </p>
        {{ post.comments }}
      </div>

      <form ng-submit="addSuggestion()" style="margin-top: 50px">
        <h3>Submit Your Suggestion!</h3>
        <input type="text" class="form-control" ng-model="title" placeholder="Great ideas go here...">
        </input>
        <button type="submit" class="btn btn-primary">Suggest</button>
      </form>
    </div>


    <!-- Modules -->
    <script type="text/javascript" src="js/app.js"></script>

    <!-- Controllers -->
    <script type="text/javascript" src="js/controllers/HomeController.js"></script>

    <!-- Services -->
    <script type="text/javascript" src="js/services/suggestions.js"></script>

  </body>
</html>
